body {
	padding-top: 50px;/*
	background-image: url("beach.jpg");
	background-repeat:no-repeat;
	background-position:center;*/
	/*background-color: #FFFFFF;*/
	/*background-color: #AFE1FA;*/
}
.panel {
	background-color: transparent;
}
.to-left{
	max-width: 250px;
	display: inline-block;
	vertical-align: top;
}
.ocbtn{
	float: right;
	width: 18px;
}
#img-back{
	width: 100%;
	background-image: url("beach.jpg");
	background-position: bottom;
	position: fixed;
	background-attachment:fixed;
	z-index: -999;
}
.navbar-inverse {
	background-color: #be1e2d;
	border-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
	color: #EEEEEE;
}
.navbar-inverse .navbar-brand {
	padding: 12px 15px;
	color: #EEEEEE;
}
.navbar-inverse .navbar-toggle {
border-color: #FFFFFF;
background-color: rgb(213, 86, 86);
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: #FFB0B0;
}
#jumbo-login{
	margin-top: 30px;
	font-family: 'Actor', sans-serif;
}
.page-content{
	margin-bottom: 100px;
}
.form-signup, .form-signin {
	width: 400px;
	margin: 0 auto;
}

.form-control{
	border-radius: 0px;
	border: none;
}
.row-content{
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.41);
	border-radius: 5px;
}

.container .jumbotron {
	padding-left: 1em;
	padding-right: 1em;
	background: rgba(255, 255, 255, 0.41);
}

#img-login{
	width:100%;
}
#btn-login{
	width: 50%;
}
#btn-register{
	margin-top: 50px;
	padding: 2em 1em;
}

.btn {
	border:none;
	border-radius: 0px;
}
.logout:hover{
	background-color: #d9534f !important;
}
.navbtn:hover{
	background-color: #4FADD9 !important;
}
.table{
	background: rgba(255,255,255,0.7);
}

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 50px;
  max-height: 75px;
  overflow: hidden;
}

.site-footer {
	clear:both;
	position: fixed;
	padding: 1em 1.5em;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #F2C56B;
	color: #A76F00;
}
.footer-in{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
#footer-right{
	text-align: right;
}
@media only screen and (min-width : 1200px) {

	#jumbo-login{
		margin-top: 100px;
	}
}
@media only screen and (min-width : 992px) and (max-width : 1199px){
	#jumbo-login{
		margin-top: 50px;
	}
}

@media only screen and (max-width : 991px) {
	#img-login {
		width: 100%;
		position: absolute;
		right: 0px;
	}
	#btn-register{
		margin: auto auto;
		padding: 2em 1em;
		width: 50%;
	}
}

@media only screen and (max-width : 767px) {
	table{
		font-size: 12px;
	}
	.form-control{
		text-align: center;
	}
	.form-signup, .form-signin {
		width: 100%;
		min-width: 100px;
		margin: 0 auto;
	}
}

@media only screen and (max-width : 320px) {
	#img-login{
		margin-top: 50px;
	}
	.footer-in {
		width: 100%;
	}
	#footer-right{
	text-align: left;
	}
}